.about-block {
    padding: 40px 0;
    border-radius: 80px 80px 0 0;
    overflow: hidden;
    background: white;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    min-height: 700px;
}

.img-block-height {
    /*height: 500px!important;*/
}

.about-block .text {
    position: relative;
}

.img-shadow {
    position: absolute;
    width: 98%;
    height: 98%;
    left: -15px;
    bottom: -15px;
    background: #c6c6d0;
    opacity: 0.8;
    transition: background-color 1.5s ease;
}

.text-about .fs-5 {
    position: relative;
    padding-bottom: 20px;
}

.text-about .fs-5 li {
    list-style-type: disc;
    padding-bottom: 10px;
}
.text-about .fs-5 .rety ol > li:nth-child(1) {
    list-style-type: '😊 ';
}
.text-about .fs-5 .rety ol > li:nth-child(2) {
    list-style-type: '👸 ';
}
.text-about .fs-5 .rety ol > li:nth-child(3) {
    list-style-type: '👼 ';
}
.text-about .fs-5 .rety ol > li:nth-child(4) {
    list-style-type: '💁 ';
}

.about-block .text .img-shadow-2 {
    position: absolute;
    width: 200%;
    min-height: 550px;
    left: -50px;
    bottom: 0;
    background: #b636f5;
    opacity: 0.4;
    top: -270px;
    transition: background-color 1.5s ease;
}

.height-title {
    display: none;
}

.height-title.active {
    display: block;
    padding: 10px 0;
    border-width: 4px;
    /*border-style: double;*/
    border-radius: 40px 0;
    color: white;
    background: linear-gradient(to right, #1239fd, #fd1645);
}

.about-hgt {
    height: 100%;
}

.about-block .image .img-block {
    position: relative;
    z-index: 10;
}

.about-block .image {
    position: relative;
    width: 420px;
}

.about-block .image img {
    width: 420px;
    overflow: hidden;
}

.image-about {
    display: none;
}

.image-about.active {
    display: block;
}

.text-about {
    position: absolute;
    display: none;
    animation: scale 0.7s ease-in-out;
}

.text-about.active {
    display: block;
}

.controles .title-about.active {
    margin: 0 10px;
    text-align: center;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.padding-last-title {
    padding-left: 40px
}

.padding-last-title-2 {
    padding-right: 5px;
    width: 290px;
}

.controles .title-about {
    display: none;
}

.about-block .controles {
    z-index: 2;
    position: relative;
    margin: 0 0 30px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.about-block .controles .control.av {
    /*width: 50px;*/
}

.about-block .controles .control {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.5s;
}

.about-block .controles .control.ret {
    width: 50px;
    transform: rotate(180deg);
}

.about-block .controles .control {
    border-radius: 25px;
    background: #d2d2d2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 0.5s;
}

.about-block .controles .control:before {
    /*left: 0;*/
    /*width: 80%;*/
    /*height: 1px;*/
    /*background-color: #212529;*/
}

.about-block .controles .control:before, .about-block .controles .control:after {
    content: "";
}

.about-block .controles .control:after {
    position: absolute;
    right: 20px;
    width: 15px;
    height: 15px;
    border: 3px solid #212529;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(45deg);
}

.controles .title-about.active {
    width: 440px;
    height: 80px;
}

.height-title-block {
    height: 140px;
}

@media only screen and (max-width: 1400px) {
    .about-block .text .img-shadow-2 {
        left: -30px;
    }
}

@media only screen and (max-width: 1200px) {
    .about-block .text .img-shadow-2 {
        left: 0;
    }
}

@media only screen and (max-width: 990px) {
    .about-block {
        flex-direction: column;
    }

    .about-block .text .img-shadow-2 {
        top: -20px;
    }

    .about-block .text {
        margin-top: 40px !important;
    }
}

@media (max-width: 767px) {
    .controles .title-about.active {
        width: 250px;
    }

    .padding-last-title-2 {
        width: 290px !important;
    }

    .about-block {
        border-radius: 40px 40px 0 0;
    }

    .small-h2 {
        font-size: 20px;
    }

    .about-block .text .img-shadow-2 {
        left: -100px;
        height: 200%;
    }

    .about-block .image img {
        width: 330px;
    }

    .about-block .image {
        width: 330px;
    }

    .text-about .fs-5 {
        padding-bottom: 0;
    }

    .about-block .controles .control:after {
        border: 2px solid #212529;
        border-bottom: 0;
        border-left: 0;
    }

    .height-title-block {
        height: 120px;
    }
}

@media (max-width: 460px) {
    .about-block .image img {
        width: 230px;
    }

    .about-block .image {
        width: 230px;
    }
}

@keyframes scale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.01);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

span.vertical-shake {
    /*animation: vertical-shaking 0.25s infinite;*/
    animation: tilt-n-move-shaking 0.15s infinite;
    color: red;
}

.about-block span {
    display: inline-block;
}

.bom-bom {
    color: #028f02;
}

.bom-bom-2 {
    color: #a1a101;
}

@keyframes vertical-shaking {
    0% {
        transform: translateY(0)
    }
    25% {
        transform: translateY(3px)
    }
    50% {
        transform: translateY(-3px)
    }
    75% {
        transform: translateY(3px)
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(3px, 3px) rotate(3deg);
    }
    50% {
        transform: translate(0, 0) rotate(0);
    }
    75% {
        transform: translate(-3px, 3px) rotate(-3deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}