body, html {
    padding: 0;
    margin:  0;
    width: 100%;
    height: 100%;
}

body {
    background: rgba(241, 226, 215, 0.2);
    position: relative;
    background: #EA485C;
}

.contrain {
    /*overflow:       hidden;*/
    position:       absolute;
    width:          140px;
    height:         100px;
    left:           50%;
    top:            50%;
    margin-left:    -70px;
    margin-top:     -50px;
    z-index:        1;
}
.poll-z-index {
    z-index: 10;
}

@media (max-width: 400px) {

}