#time-down-counter {
    font-size: 4.5em;
    display: flex;
    justify-content: space-evenly;
}
#logo {
    width: 46%;
}
.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}
#img-2 {
    position: absolute;
    width: 45%;
    bottom: -11px;
    right: -80px;
    transform: rotate(10deg);
}

#img-3 {
    position: absolute;
    width: 45%;
    bottom: -11px;
    right: 0px;
    transform: rotate(-10deg);
}

.round-guest {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.block-guest {
    width: 230px;
    margin: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wish-list {
    font-size: 1.5em;
}
.site-login {
    margin-top: 60px;
}

@media (max-width: 400px) {
    .photo-me {
        position: relative;
    }
    #time-down-counter {
        font-size: 3.5em;
    }
    .site-login {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 770px) {
    .navbar-brand {
        text-align: left;
    }
}
