body, html {
    overflow: hidden;
}
.character {
    color: white;
    font-size: 68px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: .475;
    font-family: Oswald, monospace;
}

.word_char3 {
    margin-left: -73px !important;
}
.word_char1 {
    margin-left: -70px !important;
}
.word_char2 {
    margin-left: -37px !important;
}
.word_char4 {
    margin-left: -2px !important;
}
.submit-repeat {
    position: absolute;
    z-index: 1;
    top: 55%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 5s ease;
}
.hidden {
    opacity: 0;
}
.block-poll {
    position: absolute;
    z-index: -1;
    width: 500px;
    height: 400px;
    top: 31%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 5s ease;
    background: rgba(41, 54, 59, 0.85);

}
@media only screen and (max-width: 700px) {
    #pyramid_2 {
        display: none;
    }
    .block-poll {
        width: 93%;
        height: 350px;
        top: 27%;
    }
    .submit-poll-big-btm {
        width: 240px!important;
        font-size: 18px!important;
    }
}

