.container {
    display: flex;
    align-items: center;
}
.contrain {
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}
.block-poll {
    margin-bottom: 40px;
    color: #ffffff;
    border-radius: 20px;
    padding: 90px 40px;
    display: flex;
    background: rgba(41, 54, 59, 0.55);
}
.form-group {
    text-align: center;
}
.round-title-img {
    border-radius: 160px;
}
img {
    width: 90%;
}
.block-poll-content {
    width: 50%;
}

.submit-next-btm {
    background: rgba(241, 226, 215, 0.2);
    color: #ffffff;
    padding: 12px;
    border-radius: 15px;
    width: 300px;
    border: none;
    font-size: larger;
}
.submit-next-btm:hover {
    background: rgba(241, 226, 215, 0.37);
}
@media only screen and (max-width: 700px) {
    img {
        width: 100%;
    }
    .contrain {
        position: relative;
        padding: 0 5px ;
    }
    .block-poll {
        padding: 10px;
        display: flex;
        flex-direction: column
    }
    .block-poll-content {
        width: 100%;
    }
    .block-poll-content h1 {
        margin-top: 20px;
    }

}